@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
    scroll-behavior: smooth !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

nav{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    height: 10%;

    ul{
        display: flex;
        float: right;
    }

    ul li{
        padding: 15px 40px;
        font-size: 20px;
        transform: translateX(100rem);
        animation: slideIn .5s forwards;
    }

    ul li:nth-child(1){
        animation-delay: 0s;
    }

    ul li:nth-child(2){
        animation-delay: .5s;
    }

    ul li:nth-child(3){
        animation-delay: 1s;
    }


    a:hover{
        color: orange;
        border-bottom: 2px solid crimson;
        transition: 0.75s;
    }
}

main{
    width: 100%;
    height: 100vh;
    z-index: 1;
    #welcome-section{
        
        background-image: linear-gradient(black, rgb(94, 91, 91));
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h1{
            color: white;
            text-align: center;
            display: block;
            font-size: 60px;
            width: 50%;
        }

        #info{
            text-align: center;
            width: 75px;
            height: 40px;
            border-radius: 5px;
            padding: 5px 0;
            font-size: 20px;
            font-weight: bold;
            background-image: linear-gradient(rgb(0, 174, 255), rgb(107, 255, 198));
            border: none;
            transition: 1s;
        }

        #info .tooltiptext{
             visibility: hidden;
        }

        #info:hover{
            min-width: 250px;
            height: 150px;
            font-size: 16px;
            border-radius: 5px;
            bottom: 100%;
            transition: 1s;
            padding: 10px;
            #sobre{
                display: none;
            }
            .tooltiptext{
                
                visibility: visible;
            }
        }
    }

    #projects{
        background-image: linear-gradient(rgb(94, 91, 91), rgb(123, 171, 243));
        color: white;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project-tile{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5rem;
        width: 100%;
        background-color: red;
        margin: 50px;
    }
    
}

@keyframes slideIn{
    from{

    }
    to{
        transform: translateX(0)
    }
}

@media(max-width: 600px){
    nav{
        display: flex;
        justify-content: center;
    }
    nav ul{
        
        padding: 0;
        float: none;
    }

    main{
        #welcome-section h1{
            font-size: 30px;
        }
    }
}